h1 {
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}
h2 {font-style: bold;
}
img {
    float: right;
    margin: 0 0 10px 10px;
}
body {
    background: #666;
    color: white;
    font-family: sans-serif;
}
#header {
    text-align: center;
}
#content {
    text-align: left;
    float: centre;
	padding: 10px;
	margin: 20px;
	border: 5px solid #ccc;
	width: 1000px
    overflow: hidden;
}


